name: C++ 1


on:
  push:
    paths:
      - '.github/workflows/cpp-1.yml'
      - 'cpp/hello_world_1/**'
  workflow_dispatch:

jobs:
 compile:
    name: Compile
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Install g++
        run: sudo apt-get install -y g++

      - name: Compile
        run: g++ ./cpp/hello_world_1/main.cpp

      - name: Hello World!
        run: ./a.out
