name: Go 1

on:
  push:
    paths:
      - '.github/worlflows/go-1.yml'
      - 'go/hello_world_1/**'
  pull_request:
  workflow_dispatch:

jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: stable

      - name: Hello World!!
        run: go run go/hello_world_1/main.go
