name: Python 5

on:
  push:
    paths:
      - '.github/workflows/python-5.yml'
      - 'python/hello_world_5/**'
  workflow_dispatch:

jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup latest Python
        uses: actions/setup-python@v4
        with:
          check-latest: true
          python-version: '3.x'

      - name: Hello World!!
        run: ./python/hello_world_5/main.py
