name: Shell 2

on:
  push:
    paths:
      - '.github/workflows/shell-2.yml'
      - 'shell/hello_world_2/main.sh'
  pull_request:
  workflow_dispatch:

jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Hello World!!
        run: ./shell/hello_world_2/main.sh
