name: Shell 3

on:
  push:
    paths:
      - '.github/workflows/shell-3.yml'
      - 'shell/hello_world_3/main.sh'
  pull_request:
  workflow_dispatch:

jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Install FIGlet
        run: sudo apt-get install -y figlet

      - name: Hello World!!
        run: ./shell/hello_world_3/main.sh
