name: Zig 1

on: 
  push:
    paths:
      - '.github/workflows/zig-1.yml'
      - 'zig/main.zig'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive 
      - uses: goto-bus-stop/setup-zig@v2.0.1
        with:
          version: master
      - run: zig run ./zig/main.zig
